@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

:root {
  --primary-background-color: #3A4663;
  --color-text: #fff;
  --secondary-background-color: #242D44;
  --ternary-background-color: #D03F2F;
  --ternary-background-color-active: #F96B5B;
  --display-background-color: #181F33;
  --buttons-background-color: #EAE3DC;
  --buttons-background-color-active: #FFFFFE;
  --buttons-secondary-background-color: #647198;
  --buttons-secondary-background-color-active: #A2B2E1;
  --buttons-secondary-box-shadow: #414E73;
  --buttons-ternary-box-shadow: #93261A;
  --buttons-color-text: #434A59;
  --buttons-box-shadow: #B3A497;
}

[data-theme='second'] {
  --primary-background-color: #E6E6E6;
  --color-text: #36362C;
  --secondary-background-color: #D2CDCD;
  --ternary-background-color: #C85402;
  --ternary-background-color-active: #FF8A38;
  --display-background-color: #EEEEEE;
  --buttons-background-color: #E5E4E1;
  --buttons-background-color-active: #FFFFFF;
  --buttons-secondary-background-color: #378187;
  --buttons-secondary-background-color-active: #62B5BC;
  --buttons-secondary-box-shadow: #1B6066;
  --buttons-ternary-box-shadow: #873901;
  --buttons-color-text: var(--color-texts);
  --buttons-box-shadow: #A79E91;
}

[data-theme='third'] {
  --primary-background-color: #17062A;
  --color-text: #FFE53D;
  --secondary-background-color: #1E0936;
  --ternary-background-color: #00DED0;
  --ternary-background-color-active: #93FFF8;
  --display-background-color: #1E0936;
  --buttons-background-color: #331C4D;
  --buttons-background-color-active: #6C34AC;
  --buttons-secondary-background-color: #56077C;
  --buttons-secondary-background-color: #8631AF;
  --buttons-secondary-box-shadow: #BE15F4;
  --buttons-ternary-box-shadow: #6CF9F1;
  --buttons-color-text: var(--color-texts);
  --buttons-box-shadow: #881C9E;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: var(--primary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calculator {
  color: var(--color-text);
  max-height: 78.67vh;

  &__header {
    display: flex;
    justify-content: space-between;

    &__title {
      font-size: 3.2rem;
      line-height: 3.6rem;
      letter-spacing: -0.533333px;
      padding-top: .8rem;
    }

    &__toggle-switch {
      display: flex;
      align-items: center;
      position: relative;

      &__title {
        font-size: 1.2rem;
        line-height: 1.3rem;
        letter-spacing: 1px;
        position: absolute;
        bottom: .5rem;
        left: -7.2rem;
      }

      .switcher {
        width: 7.1rem;

        &__numbers {
          display: flex;
          justify-content: space-around;
          font-size: 1.2rem;
          line-height: 1.3rem;
          padding-bottom: 5px;
        }

        .switch {
          position: relative;
          height: 2.6rem;

          #switch1,
          #switch2,
          #switch3 {
            position: absolute;
            z-index: 9;
            -webkit-appearance: none;

            &+label {

              &::after {
                position: absolute;
                content: "";
                width: 25px;
                height: 2.6rem;
                top: 0;
                left: 0;
                z-index: 9;
                cursor: pointer;
              }
            }
          }

          #switch1 {
            &+label {
              &::after {
                left: 0;
              }
            }

            &:checked {
              &~.switch__inner {
                &::after {
                  left: 5px;
                  transition: left 250ms ease-in-out;
                }
              }
            }
          }

          #switch2 {
            &+label {
              &::after {
                left: 22px;
              }
            }

            &:checked {
              &~.switch__inner {
                &::after {
                  left: 25px;
                  transition: left 250ms ease-in-out;
                }
              }
            }
          }

          #switch3 {
            &+label {
              &::after {
                left: 45px;
              }
            }

            &:checked {
              &~.switch__inner {
                &::after {
                  left: 50px;
                  transition: left 250ms ease-in-out;
                }
              }
            }
          }

          &__inner {
            height: 2.6rem;
            background: var(--secondary-background-color);
            border-radius: 13px;

            &::after {
              position: absolute;
              display: block;
              content: "";
              top: 5px;
              left: 0;
              background-color: var(--ternary-background-color);
              height: 16px;
              width: 16px;
              border-radius: 50%;
              transform: translateX(0);
              transition: transform .4s;
              z-index: 10;
              cursor: pointer;
            }

            &:hover::after {
              background-color: var(--ternary-background-color-active);
            }
          }
        }
      }

    }
  }

  &__display {
    width: 54rem;
    min-height: 12.8rem;
    background-color: var(--display-background-color);
    border-radius: 1rem;
    margin-top: 3.56vh;
    padding-right: 3.2rem;
    padding-top: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .calculator-output {
      font-size: 4.8rem;
      word-wrap: break-word;
      word-break: break-all;
      display: flex;
      flex-direction: column;

      .previous-operand {
        font-size: 1.8rem;
        color: #9b9b9b;
        padding-bottom: 5px;
        align-self: flex-end;
      }
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.4rem;
    width: 54rem;
    background: var(--secondary-background-color);
    border-radius: 10px;
    margin-top: 2.67vh;
    padding: 3.56vh 27.5px;

    button {
      height: 6.4rem;
      background: var(--buttons-background-color);
      box-shadow: inset 0px -4px 0px var(--buttons-box-shadow);
      border-radius: 10px;
      cursor: pointer;
      outline: none;
      border: none;
      color: var(--buttons-color-text);
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 3.6rem;
      letter-spacing: -0.533333px;

      &:active {
        transform: translateY(2px);
        box-shadow: inset 0px -3px 0px var(--buttons-box-shadow);
      }

      &:hover {
        background: var(--buttons-background-color-active);
      }
    }

    .delete,
    .equal-sign,
    .reset {
      font-size: 2rem;
      line-height: 2.2rem;
    }

    .delete,
    .reset {
      background-color: var(--buttons-secondary-background-color);
      box-shadow: inset 0px -4px 0px var(--buttons-secondary-box-shadow);
      color: #FFFFFF;

      &:active {
        box-shadow: inset 0px -3px 0px var(--buttons-secondary-box-shadow);
      }

      &:hover {
        background-color: var(--buttons-secondary-background-color-active);
      }
    }

    .reset,
    .equal-sign {
      font-size: 2rem;
      line-height: 2.2rem;
      letter-spacing: -0.333333px;
    }

    .reset {
      grid-column: 1 / span 2;
    }

    .equal-sign {
      grid-column: 3 / span 2;
      background-color: var(--ternary-background-color);
      box-shadow: inset 0px -4px 0px var(--buttons-ternary-box-shadow);
      color: #FFFFFF;

      &:active {
        box-shadow: inset 0px -3px 0px var(--buttons-ternary-box-shadow);
      }

      &:hover {
        background-color: var(--ternary-background-color-active);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .calculator {
    &__header {
      &__title {
        font-size: 2.8rem;
      }
    }
  }

  .calculator__display,
  .calculator__buttons,
  .calculator {
    width: 32.7rem;

    h1 {
      font-size: 3.2rem;
      padding: 2.6rem 0;
    }
  }

  .calculator__buttons {
    grid-gap: 1.3rem;
    min-height: 42rem;


    button {
      min-width: 6rem;
    }

    .reset,
    .equal-sign {
      font-size: 1.6rem;
      line-height: 1.8rem;
      letter-spacing: -0.266667px;
    }
  }
}